* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* ESTILO DA NAVBAR */

#navbar {
    background-color: #FEA620;
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

.logo {
    width: 150px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 50px;
}

.nav-links ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 40px;
    margin: 0;
}

.nav-links ul li a {
    color: black;
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    transition: 0.2s;
}

.nav-links ul li a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 4px;
    bottom: -5px;
    left: 50%;
    background-color: #fff;
    transition: all 0.2s;
}

.nav-links ul li a:hover:before {
    width: 100%;
    left: 0;
}

.nav-links ul li a:hover {
    color: #fff;
}

.senai {
    width: 200px;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
    cursor: pointer;
}

.menu-toggle span {
    display: block;
    height: 4px;
    background: black;
    border-radius: 2px;
}

.nav-links ul li a.active {
    color: #fff;
}

.nav-links ul li a.active::before {
    width: 100%;
    left: 0;
}


@media screen and (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }

    .nav-links {
        position: absolute;
        top: 140px;
        right: 0;
        background-color: #FEA620;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding: 20px;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transform: translateY(-20px);
        transition: max-height 0.5s ease, opacity 0.5s ease, transform 0.5s ease;
        visibility: hidden;
    }

    .nav-links.active {
        max-height: 500px;
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
        align-items: center;
        z-index: 1000;
    }

    .nav-links ul {
        flex-direction: column;
        width: 100%;
        gap: 20px;
        margin: 0;
    }

    .nav-links .senai {
        width: 150px;
        margin-top: 20px;
    }
}

.banner {
    position: relative;
    /* necessário para posicionar o ::before */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50vh;
    padding: 20px;
    z-index: 1;
    /* garantir que o conteúdo fique acima do fundo */
    overflow: hidden;
    /* evita que o fundo transborde */
    background-color: black;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/antena-de-cor-verde-branco-abelha\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.75;
    /* ajuste a opacidade como desejar */
    z-index: -1;
    /* fundo atrás do conteúdo */
}


.banner h1 {
    width: 30%;
    font-size: 3rem;
    font-weight: 500;
    color: white;
    text-align: left;
}

.banner p {
    font-size: 1.5rem;
    color: white;
    text-align: left;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.bannerButtons {
    color: white;
    background-color: #35B15A;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: .2s;
}

.bannerButtons a {
    color: white;
    text-decoration: none;
}

.bannerButtons:hover {
    background-color: #21723a;
    transform: scale(1.05);
    transition: .2s;
}

.containers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 100px;
    gap: 100px;
    padding: 20px;
}

.missao {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    gap: 50px;
}

.missaoImg {
    min-width: 350px;
    width: 50%;
    height: auto;
}

.missaoContent {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.missaoText p {
    font-size: clamp(1rem, 5vw, 3rem);
    color: black;
    text-align: left;
}

.icones {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 5vw;
}

.educacao,
.abelhas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.educacao img,
.abelhas img {
    width: 100%;
    height: auto;
}

.educacao p,
.abelhas p {
    text-align: center;
}

.tema {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.tema h1 {
    font-size: clamp(2rem, 3vw, 4rem);
    color: black;
    text-align: center;
    margin-bottom: 20px;
}

.temas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 80%;
    margin-top: 50px;
}

.biodiversidade,
.abelhasFerrao,
.polinizacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.biodiversidade img,
.abelhasFerrao img,
.polinizacao img {
    width: 75%;
}

.temas p {
    font-size: clamp(1rem, 1.5vw, 3rem);
    color: black;
    text-align: center;
}

.projeto {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.projetoContent {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.projetoTitle {
    font-size: clamp(1rem, 1.5vw, 4rem);
    font-weight: bold;
    text-align: center;
}

.projetoText {
    font-size: clamp(1rem, 1.5vw, 2rem);
    color: black;
    text-align: center;
}

.projetoImg {
    width: 30%;
    border-radius: 30px;
    box-shadow: 10px 9px 0px -2px black;
    -webkit-box-shadow: 10px 9px 2px -2px black;
    -moz-box-shadow: 10px 9px 0px -2px black;
}

/* ESTILO DO FOOTER */

#footer {
    height: 15%;
    background-image: url(../img/footerImage.png);
    background-color: #FEA620;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
}

.footer-links ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 40px;
    padding: 0;
    margin: 0;
}

.footer-links ul li {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 20px;
    border-radius: 50px;

}

.footer-links ul li a {
    color: black;
    font-size: 24px;
    text-decoration: none;
    position: relative;
    transition: 0.2s;
}

.footer-links ul li a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 4px;
    bottom: -5px;
    left: 50%;
    background-color: #fff;
    transition: all 0.2s;
}

.footer-links ul li a:hover:before {
    width: 100%;
    left: 0;
}

.footer-links ul li a:hover {
    color: #fff;
}

.insta {
    width: 30px;
}