* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* ESTILO DA NAVBAR */

#navbar {
    background-color: #FEA620;
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

.logo {
    width: 150px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 50px;
}

.nav-links ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.nav-links ul li a {
    color: black;
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    transition: 0.2s;
}

.nav-links ul li a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 4px;
    bottom: -5px;
    left: 50%;
    background-color: #fff;
    transition: all 0.2s;
}

.nav-links ul li a:hover:before {
    width: 100%;
    left: 0;
}

.nav-links ul li a:hover {
    color: #fff;
}

.senai {
    width: 200px;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
    cursor: pointer;
}

.menu-toggle span {
    display: block;
    height: 4px;
    background: black;
    border-radius: 2px;
}

.nav-links ul li a.active {
    color: #fff;
}

.nav-links ul li a.active::before {
    width: 100%;
    left: 0;
}


@media screen and (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }

    .nav-links {
        position: absolute;
        top: 140px;
        right: 0;
        background-color: #FEA620;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding: 20px;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transform: translateY(-20px);
        transition: max-height 0.5s ease, opacity 0.5s ease, transform 0.5s ease;
        visibility: hidden;
    }

    .nav-links.active {
        max-height: 500px;
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
        align-items: center;
        z-index: 1000;
    }

    .nav-links ul {
        flex-direction: column;
        width: 100%;
        gap: 20px;
        margin: 0;
    }

    .nav-links .senai {
        width: 150px;
        margin-top: 20px;
    }
}

/* ESTILO DO MAIN CONTENT */

#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 20px;
}

#main-content h1 {
    font-size: 3rem;
    color: black;
    text-align: center;
    margin: 0;
}

#carouselExampleRide {
    width: 80%;
}

.projeto {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.projeto p {
    width: 50%;
    font-size: 2rem;
    line-height: 1.5;
    color: #333;
}

.abelha1 {
    width: 30%;
    min-width: 300px;
    border-radius: 50px;
    box-shadow: 10px 9px 0px -2px black;
    -webkit-box-shadow: 10px 9px 0px -2px black;
    -moz-box-shadow: 10px 9px 0px -2px black;
}

.sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.sobre-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.sobre-content p {
    width: 50%;
    font-size: 2rem;
    line-height: 1.5;
    color: black;
}

.plantio {
    width: 30%;
    min-width: 300px;
    border-radius: 50px;
    box-shadow: 10px 9px 0px -2px black;
    -webkit-box-shadow: 10px 9px 0px -2px black;
    -moz-box-shadow: 10px 9px 0px -2px black;
}

.divulgacao {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.abelhas {
    width: 99.2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.abelhas-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.abelhas-content p {
    text-align: center;
    width: 50%;
    font-size: 2rem;
    line-height: 1.5;
    color: black;
}

.colmeia {
    width: 30%;
    min-width: 300px;
    border-radius: 50px;
    box-shadow: 10px 9px 0px -2px black;
    -webkit-box-shadow: 10px 9px 0px -2px black;
    -moz-box-shadow: 10px 9px 0px -2px black;
}

.polinizacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.polinizacao-content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.polinizacao-content p {
    width: 50%;
    font-size: 2rem;
    line-height: 1.5;
    color: black;
}

.polinizacaoImg {
    width: 30%;
    min-width: 300px;
    border-radius: 50px;
    box-shadow: -10px 9px 0px -2px black;
    -webkit-box-shadow: -10px 9px 0px -2px black;
    -moz-box-shadow: -10px 9px 0px -2px black;
}

.biodiversidade {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.biodiversidade p {
    width: 75%;
    text-align: center;
    font-size: 2rem;
    line-height: 1.5;
    color: black;
}

/* ESTILO DO FOOTER */

#footer {
    height: 15%;
    background-image: url(../img/footerImage.png);
    background-color: #FEA620;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
}

.footer-links ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 40px;
    padding: 0;
    margin: 0;
}

.footer-links ul li {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 20px;
    border-radius: 50px;

}

.footer-links ul li a {
    color: black;
    font-size: 24px;
    text-decoration: none;
    position: relative;
    transition: 0.2s;
}

.footer-links ul li a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 4px;
    bottom: -5px;
    left: 50%;
    background-color: #fff;
    transition: all 0.2s;
}

.footer-links ul li a:hover:before {
    width: 100%;
    left: 0;
}

.footer-links ul li a:hover {
    color: #fff;
}

.insta {
    width: 30px;
}